
/* Header */
header.banner {
  background: #ffffff;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid rgba(45,55,103,.2);

 
}

div.left {
    float:left;
    margin-right: auto;
    
}

div.right {
  float: right;
}


nav a {
  font-weight: 400;
  padding: 20px 20px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  text-align: right;
}

nav a:hover {
  color: royalblue;
}




section.feedback {
    position:absolute;
    top:50%;
    left:50%;
    width :500px;
    height:500px;
    margin-left:-250px;
    margin-top:-250px;
    text-align: center;
}


h1 {
    text-align: center;
    padding-top: 30px;
  }

h2 {
    text-align: center;
  }
  
  section {
    text-align: center;
    position: relative;
    padding: 20px 20px 350px 20px;
    
  }
  .dream{
    text-align: center;
    position: relative;
    padding: 20px 20px 20px 20px;
    
  }
.title {
    text-decoration: underline;
}

button, input[type=submit] {
    display:inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    /*background-color: #ccc;*/
    text-align: center;
  }
  
  button:hover, input[type=submit]:hover{
    background-color: #bdbdbd;
    font-weight: bold;
  }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: left;
    font-size: 10px;
    color: #808080;
    background-color: #eaeaea;
  }


    .photoDreamer{
      vertical-align: middle;
        width: 100%;
        height: 100%;
        border-radius: 30px;
  
      }

    .category-photo-add {
      vertical-align: middle;
        width: 100%;
        height: 100%;
        border-radius: 30px;
  
      }
  
      .category-photo-add:hover{
        border: 5px solid;
        border-color: green;
      }

    .category-photo-remove:hover{
      border: 5px solid;
      border-color:red;
    }

.category-photo-remove{
  vertical-align: middle;
    /*  width: 200px;
      height: 200px;
      border-radius: 30px;*/
      width: 100%;
      height: 100%;
      border-radius: 30px;
}


.category{
  width:25%;
  float:left;
  padding-left: 5px;
  padding-right: 5px;
}

.request{
 padding-bottom: 150px;
}

.requestID{
  width:5%;
  float:left;
}
.requestDreamerUsername{
  width:5%;
  float:left;
}
.requestCategory{
  width:10%;
  float:left;

}
.requestInput{
  width:50%;
  float:left;

}

.requestAccept{
  width:30%;
  float:left;
}

.doneDrawing{
  width:30%;
  float:left;
  padding-left: 5px;
  padding-right: 5px;
}

.idea{
  height:30px;width:400px;
}

.container{
  background-color:#f1f1f1;
}


video{
  vertical-align: middle;
  width:100%;
  height: 100%;
}

article.video {
  vertical-align: middle;
  display: table;
  margin: auto;
  padding-bottom: 10px;
}
    